In [1]:
# bibloteki
import pandas as pd 
import geopy
import plotly.express as px

In [2]:
# zmienia rozmiar data frame
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 2000)

In [17]:
# wyświetal dane
df = pd.read_csv('data.csv')
print(df.head())

                                  Lokacja          Cena   Cena za m2     M2  Pokoje  Pietro
0      Gdańsk Jasień, Eugeniusza Węgrzyna    329 000 zł  13708 zł/m2   24.0       1  parter
1                Gdańsk Siedlce, Ojcowska  1 290 000 zł   9485 zł/m2  136.0       6  parter
2      Sopot Kamienny Potok, Sienkiewicza    490 000 zł  11666 zł/m2   42.0       2       2
3                  Gdańsk Osiedle Strzyża    750 000 zł  12295 zł/m2   61.0       3       1
4  Gdańsk Nowy Port, Marynarki Polskiej 6    590 000 zł   8993 zł/m2   65.6       2       1

In [4]:
#sprawdza ile mamy danych
print("Mamy tu {} rekordów i {} kolumn".format(df.shape[0], df.shape[1]))

Mamy tu 6072 rekordów i 6 kolumn

In [46]:
# sprawdza czy jakieś dane są puste
df.isnull().sum()

Lokacja          0
Cena             0
Cena za m2       0
M2               0
Pokoje           0
Pietro           0
Currency         0
Miasto           1
Dzielnica      249
Wspolrzedne    665
Szerokosc      665
Dlugosc        665
dtype: int64

In [6]:
#usuwa dane które zawierają tekst "Zapytaj cenę"
for x in df.index:
  if df.loc[x, "Cena"] == 'Zapytaj o cenę':
    df.drop(x, inplace = True)

In [7]:
#zmienia parametr parter na 0
df['Pietro'] = df['Pietro'].str.replace("parter", '0')

In [8]:
#tworzy kolumne który określa walute podaje ceny
df.loc[df['Cena'].str.contains('$', case=False), 'Currency'] = 'USD'
df.loc[df['Cena'].str.contains('zł', case=False), 'Currency'] = 'PLN'
df.loc[df['Cena'].str.contains('€', case=False), 'Currency'] = 'EUR'

In [9]:
#wysiwetla ilość miszkań w podanych walutach
print(df['Currency'].value_counts())

PLN    6072
Name: Currency, dtype: int64

In [10]:
#usuwa z kolumny cena końcówki zł, $, euro
df.loc[df['Currency'] == 'PLN', 'Cena'] = df['Cena'].str[:-3]
df.loc[df['Currency'] == 'USD', 'Cena'] = df['Cena'].str[1:]
df.loc[df['Currency'] == 'EUR', 'Cena'] = df['Cena'].str[:-2]

In [11]:
#usuwa spacje w kolumnie cena
df['Cena'] = df['Cena'].str.replace(" ", "")

In [12]:
#usuwa liczby po przecinku w kolumnie cena
df.loc[df['Cena'].str.contains(','), 'Cena'] = df['Cena'].str.split(',').str[0]

In [13]:
#zmienia kolumne ceny na integer
df = df.astype({'Cena':'int'})

In [14]:
#usuwa z kolumny cena za m2 wartości zł, euro, usd
df.loc[df['Currency'] == 'PLN', 'Cena za m2'] = df['Cena za m2'].str[:-6]
df.loc[df['Currency'] == 'USD', 'Cena za m2'] = df['Cena za m2'].str[1:6]
df.loc[df['Currency'] == 'EUR', 'Cena za m2'] = df['Cena za m2'].str[:-5]

In [15]:
#W usd zamienia przecinek
df.loc[df['Currency'] == 'USD', 'Cena za m2'] = df['Cena za m2'].str.replace(',', '')

In [16]:
#usuwa spacje
df['Cena za m2'] = df['Cena za m2'].str.replace(" ", "")

In [17]:
#usuwa przecinki po liczbie
df.loc[df['Cena za m2'].str.contains(','), 'Cena za m2'] = df['Cena za m2'].str.split(',').str[0]

In [18]:
#konwert na integerr
df = df.astype({'Cena za m2':'int'})

In [19]:
#wypisanie miast
df.loc[df['Lokacja'].str.contains('Gdańsk', case=False), 'Miasto'] = 'Gdańsk'
df.loc[df['Lokacja'].str.contains('Sopot', case=False), 'Miasto'] = 'Sopot'
df.loc[df['Lokacja'].str.contains('Gdynia', case=False), 'Miasto'] = 'Gdynia'

In [29]:
#Wypisanie dzielnic z gdańska
#Gdańsk:
df.loc[df['Lokacja'].str.contains('Aniołki', case=False), 'Dzielnica'] = 'Aniołki'
df.loc[df['Lokacja'].str.contains('Biskupa Górka', case=False), 'Dzielnica'] = 'Biskupa Górka'
df.loc[df['Lokacja'].str.contains('Brzeźno', case=False), 'Dzielnica'] = 'Brzeźno'
df.loc[df['Lokacja'].str.contains('Chełm', case=False), 'Dzielnica'] = 'Chełm'
df.loc[df['Lokacja'].str.contains('Długie ogrody', case=False), 'Dzielnica'] = 'Długie ogrody'
df.loc[df['Lokacja'].str.contains('Dolne miasto', case=False), 'Dzielnica'] = 'Dolne miasto'
df.loc[df['Lokacja'].str.contains('Górki zachodnie', case=False), 'Dzielnica'] = 'Górki zachodnie'
df.loc[df['Lokacja'].str.contains('Jasień', case=False), 'Dzielnica'] = 'Jasień'
df.loc[df['Lokacja'].str.contains('Jelitkowo', case=False), 'Dzielnica'] = 'Jelitkowo'
df.loc[df['Lokacja'].str.contains('Karczemki', case=False), 'Dzielnica'] = 'Karczemki'
df.loc[df['Lokacja'].str.contains('Kiełpinek', case=False), 'Dzielnica'] = 'Kiełpinek'
df.loc[df['Lokacja'].str.contains('Kiełpino Górne', case=False), 'Dzielnica'] = 'Kiełpino Górne'
df.loc[df['Lokacja'].str.contains('Kokoszki', case=False), 'Dzielnica'] = 'Kokoszki'
df.loc[df['Lokacja'].str.contains('Krakowiec- Górki Zachodnie', case=False), 'Dzielnica'] = 'Krakowiec-Górki Zachodnie'
df.loc[df['Lokacja'].str.contains('Kowale', case=False), 'Dzielnica'] = 'Kowale'
df.loc[df['Lokacja'].str.contains('Letnica', case=False), 'Dzielnica'] = 'Letnica'
df.loc[df['Lokacja'].str.contains('Łostowice', case=False), 'Dzielnica'] = 'Łostowice'
df.loc[df['Lokacja'].str.contains('Maćkowy', case=False), 'Dzielnica'] = 'Maćkowy'
df.loc[df['Lokacja'].str.contains('Matarnia-Rębiechowo', case=False), 'Dzielnica'] = 'Matarnia-Rębiechowo'
df.loc[df['Lokacja'].str.contains('Matemblewo', case=False), 'Dzielnica'] = 'Matemblewo'
df.loc[df['Lokacja'].str.contains('Młode miasto', case=False), 'Dzielnica'] = 'Młode miasto'
df.loc[df['Lokacja'].str.contains('Morena', case=False), 'Dzielnica'] = 'Morena'
df.loc[df['Lokacja'].str.contains('Młyniska', case=False), 'Dzielnica'] = 'Młyniska'
df.loc[df['Lokacja'].str.contains('Niedźwiednik', case=False), 'Dzielnica'] = 'Niedźwiednik'
df.loc[df['Lokacja'].str.contains('Nowy Port', case=False), 'Dzielnica'] = 'Nowy Port'
df.loc[df['Lokacja'].str.contains('Oliwa', case=False), 'Dzielnica'] = 'Oliwa'
df.loc[df['Lokacja'].str.contains('Olszynka', case=False), 'Dzielnica'] = 'Olszynka'
df.loc[df['Lokacja'].str.contains('Orunia', case=False), 'Dzielnica'] = 'Orunia'
df.loc[df['Lokacja'].str.contains('Orunia Górna', case=False), 'Dzielnica'] = 'Orunia Górna'
df.loc[df['Lokacja'].str.contains('Osowa', case=False), 'Dzielnica'] = 'Osowa'
df.loc[df['Lokacja'].str.contains('Port Północny', case=False), 'Dzielnica'] = 'Port Północny'
df.loc[df['Lokacja'].str.contains('Przeróbka', case=False), 'Dzielnica'] = 'Przeróbka'
df.loc[df['Lokacja'].str.contains('Przymorze', case=False), 'Dzielnica'] = 'Przymorze'
df.loc[df['Lokacja'].str.contains('Rudniki', case=False), 'Dzielnica'] = 'Rudniki'
df.loc[df['Lokacja'].str.contains('Siedlce', case=False), 'Dzielnica'] = 'Siedlce'
df.loc[df['Lokacja'].str.contains('Sobieszewo', case=False), 'Dzielnica'] = 'Sobieszewo'
df.loc[df['Lokacja'].str.contains('Stare Przedmieście', case=False), 'Dzielnica'] = 'Stare Przedmieście'
df.loc[df['Lokacja'].str.contains('Stogi', case=False), 'Dzielnica'] = 'Stogi'
df.loc[df['Lokacja'].str.contains('Strzyża', case=False), 'Dzielnica'] = 'Strzyża'
df.loc[df['Lokacja'].str.contains('Suchanino', case=False), 'Dzielnica'] = 'Suchanino'
df.loc[df['Lokacja'].str.contains('Śródmieście', case=False), 'Dzielnica'] = 'Śródmieście'
df.loc[df['Lokacja'].str.contains('Św. Wojciecha', case=False), 'Dzielnica'] = 'Św. Wojciecha'
df.loc[df['Lokacja'].str.contains('Ujeścisko', case=False), 'Dzielnica'] = 'Ujeścisko'
df.loc[df['Lokacja'].str.contains('VII Dwór', case=False), 'Dzielnica'] = 'VII Dwór'
df.loc[df['Lokacja'].str.contains('Wrzeszcz', case=False), 'Dzielnica'] = 'Wrzeszcz'
df.loc[df['Lokacja'].str.contains('Wzgórze Mickiewicza', case=False), 'Dzielnica'] = 'Wzgórze Mickiewicza'
df.loc[df['Lokacja'].str.contains('Zakoniczyn', case=False), 'Dzielnica'] = 'Zakoniczyn'
df.loc[df['Lokacja'].str.contains('Zaspa', case=False), 'Dzielnica'] = 'Zaspa'
df.loc[df['Lokacja'].str.contains('Żabianka', case=False), 'Dzielnica'] = 'Żabianka'

#Sopot:
df.loc[df['Lokacja'].str.contains('Brodwino', case=False), 'Dzielnica'] = 'Brodwino'
df.loc[df['Lokacja'].str.contains('Dolny Sopot', case=False), 'Dzielnica'] = 'Dolny Sopot'
df.loc[df['Lokacja'].str.contains('Górny Sopot', case=False), 'Dzielnica'] = 'Górny Sopot'
df.loc[df['Lokacja'].str.contains('Kamienny Potok', case=False), 'Dzielnica'] = 'Kamienny Potok'
df.loc[df['Lokacja'].str.contains('Wyścigi / Karlikowo', case=False), 'Dzielnica'] = 'Wyścigi / Karlikowo'

#Gdynia
df.loc[df['Lokacja'].str.contains('Babie Doły', case=False), 'Dzielnica'] = 'Babie Doły'
df.loc[df['Lokacja'].str.contains('Chwarzno', case=False), 'Dzielnica'] = 'Chwarzno'
df.loc[df['Lokacja'].str.contains('Chylonia', case=False), 'Dzielnica'] = 'Chylonia'
df.loc[df['Lokacja'].str.contains('Cisowa', case=False), 'Dzielnica'] = 'Cisowa'
df.loc[df['Lokacja'].str.contains('Dąbrowa', case=False), 'Dzielnica'] = 'Dąbrowa'
df.loc[df['Lokacja'].str.contains('Demptowo', case=False), 'Dzielnica'] = 'Demptowo'
df.loc[df['Lokacja'].str.contains('Działki Leśne', case=False), 'Dzielnica'] = 'Działki Leśne'
df.loc[df['Lokacja'].str.contains('Gdynia Port', case=False), 'Dzielnica'] = 'Gdynia Port'
df.loc[df['Lokacja'].str.contains('Grabówek', case=False), 'Dzielnica'] = 'Grabówek'
df.loc[df['Lokacja'].str.contains('Kamienna Góra', case=False), 'Dzielnica'] = 'Kamienna Góra'
df.loc[df['Lokacja'].str.contains('Karwiny', case=False), 'Dzielnica'] = 'Karwiny'
df.loc[df['Lokacja'].str.contains('Leszczynki', case=False), 'Dzielnica'] = 'Leszczynki'
df.loc[df['Lokacja'].str.contains('Mały Kack', case=False), 'Dzielnica'] = 'Mały Kack'
df.loc[df['Lokacja'].str.contains('Obłuże', case=False), 'Dzielnica'] = 'Obłuże'
df.loc[df['Lokacja'].str.contains('Oksywie', case=False), 'Dzielnica'] = 'Oksywie'
df.loc[df['Lokacja'].str.contains('Orłowo', case=False), 'Dzielnica'] = 'Orłowo'
df.loc[df['Lokacja'].str.contains('Pogórze', case=False), 'Dzielnica'] = 'Pogórze'
df.loc[df['Lokacja'].str.contains('Pustki Cisowskie', case=False), 'Dzielnica'] = 'Pustki Cisowskie'
df.loc[df['Lokacja'].str.contains('Redłowo', case=False), 'Dzielnica'] = 'Redłowo'
df.loc[df['Lokacja'].str.contains('Śródmieśćie', case=False), 'Dzielnica'] = 'Śródmieście'
df.loc[df['Lokacja'].str.contains('Wiczlino', case=False), 'Dzielnica'] = 'Wiczlino'
df.loc[df['Lokacja'].str.contains('Wielki Kack', case=False), 'Dzielnica'] = 'Wielki Kack'
df.loc[df['Lokacja'].str.contains('Witomino', case=False), 'Dzielnica'] = 'Witomino'
df.loc[df['Lokacja'].str.contains('Wyścigi / Karlikowo', case=False), 'Dzielnica'] = 'Wyścigi / Karlikowo'

In [21]:
#Lokacje bez dzielnic 
df['Dzielnica'].isna().sum()

282

In [22]:
#konwertuje na float m2
df = df.astype({'M2':'float'})

In [23]:
#sprawdza jakie są wartości w kolumnie pokoje
df['Pokoje'].unique()

array([ 1,  6,  2,  3,  4,  5,  8,  7,  9, 13, 10, 24, 22], dtype=int64)

In [24]:
#tworzy kolumne Pokoje_int z wartościami int 
df = df.astype({'Pokoje':'int'})
df = df.astype({'Pietro':'int'})

In [25]:
#Usunięcie mieszkań pod wynajem
df = df.loc[(df['Cena'] > 100000)]

In [26]:
#usunięcie nierealnych cen za m2
df = df.loc[(df['Cena za m2'] > 2000)]

In [41]:
#tworzymy kolumne wspołrzedna
from geopy.geocoders import Nominatim

geolocation = Nominatim(user_agent="my_app", timeout=None)
df["Wspolrzedne"]=df["Lokacja"].apply(geolocation.geocode)

In [43]:
#tworzymy nastepne kolumny o lokalizacji
df["Szerokosc"] =  df["Wspolrzedne"].apply(lambda x: x.latitude if x != None else None)
df["Dlugosc"] =  df["Wspolrzedne"].apply(lambda x: x.longitude if x != None else None)
print(df.head)

<bound method NDFrame.head of                                      Lokacja     Cena  Cena za m2      M2  Pokoje  Pietro Currency  Miasto       Dzielnica                                        Wspolrzedne  Szerokosc    Dlugosc
0         Gdańsk Jasień, Eugeniusza Węgrzyna   329000       13708   24.00       1       0      PLN  Gdańsk          Jasień  (Eugeniusza Węgrzyna, Os. Gardenia, Jasień, Gd...  54.333929  18.566962
1                   Gdańsk Siedlce, Ojcowska  1290000        9485  136.00       6       0      PLN  Gdańsk         Siedlce  (Ojcowska, Kolonia Wyżyny, Siedlce, Gdańsk, wo...  54.354798  18.622895
2         Sopot Kamienny Potok, Sienkiewicza   490000       11666   42.00       2       2      PLN   Sopot  Kamienny Potok  (Henryka Sienkiewicza, Kamienny Potok, Sopot, ...  54.453285  18.549294
3                     Gdańsk Osiedle Strzyża   750000       12295   61.00       3       1      PLN  Gdańsk         Strzyża                                               None        NaN        NaN
4     Gdańsk Nowy Port, Marynarki Polskiej 6   590000        8993   65.60       2       1      PLN  Gdańsk       Nowy Port  (6, Marynarki Polskiej, Nowy Port, Gdańsk, woj...  54.399358  18.668024
...                                      ...      ...         ...     ...     ...     ...      ...     ...             ...                                                ...        ...        ...
6067               Gdańsk Kokoszki, Stokłosy   469000        8869   52.88       3       5      PLN  Gdańsk        Kokoszki  (Stokłosy, Kokoszki, Gdańsk, województwo pomor...  54.357287  18.472770
6068         Gdynia Orłowo, Józefa Kiedronia  2395000       34964   68.50       3       0      PLN  Gdynia          Orłowo  (Józefa Kiedronia, Nowe Orłowo, Orłowo, Gdynia...  54.480953  18.553072
6069               Sopot Dolny Sopot, 3 Maja   900000       12162   74.00       4       0      PLN   Sopot     Dolny Sopot  (Rezydent, 3, Plac Konstytucji 3 Maja, Sopot D...  54.442660  18.562867
6070                  Gdańsk Olszynka, Modra  1150000        9583  120.00      13       3      PLN  Gdańsk        Olszynka  (Modra, Groß Walddorf, Olszynka, Gdańsk, wojew...  54.327642  18.685990
6071                  Gdynia Mały Kack, Miła  1200000       12631   95.00       4       4      PLN  Gdynia       Mały Kack  (Miła, Słoneczne Gniazdo, Mały Kack, Gdynia, w...  54.473117  18.517381

[6070 rows x 12 columns]>

In [45]:
#zapisanie testowe
df.to_csv('clearData.csv')

In [18]:
#odczyt
df = pd.read_csv('clearData.csv')
print(df.head())

   Unnamed: 0                                 Lokacja     Cena  Cena za m2     M2  Pokoje  Pietro Currency  Miasto       Dzielnica                                        Wspolrzedne  Szerokosc    Dlugosc
0           0      Gdańsk Jasień, Eugeniusza Węgrzyna   329000       13708   24.0       1       0      PLN  Gdańsk          Jasień  Eugeniusza Węgrzyna, Os. Gardenia, Jasień, Gda...  54.333929  18.566962
1           1                Gdańsk Siedlce, Ojcowska  1290000        9485  136.0       6       0      PLN  Gdańsk         Siedlce  Ojcowska, Kolonia Wyżyny, Siedlce, Gdańsk, woj...  54.354798  18.622895
2           2      Sopot Kamienny Potok, Sienkiewicza   490000       11666   42.0       2       2      PLN   Sopot  Kamienny Potok  Henryka Sienkiewicza, Kamienny Potok, Sopot, w...  54.453285  18.549294
3           3                  Gdańsk Osiedle Strzyża   750000       12295   61.0       3       1      PLN  Gdańsk         Strzyża                                                NaN        NaN        NaN
4           4  Gdańsk Nowy Port, Marynarki Polskiej 6   590000        8993   65.6       2       1      PLN  Gdańsk       Nowy Port  6, Marynarki Polskiej, Nowy Port, Gdańsk, woje...  54.399358  18.668024

In [19]:
#usuwa wartości z NaN
df.dropna(inplace=True)

In [20]:
#usuwamy niepotrzebne kolumny
df.drop(['Unnamed: 0', 'Lokacja', 'Currency', 'Wspolrzedne'], axis=1, inplace=True)

In [21]:
#przesuwa kolumny
df.insert(loc=1, column='Miasto', value=df.pop('Miasto'))
df.insert(loc=2, column='Dzielnica', value=df.pop('Dzielnica'))

In [22]:
df

         Cena  Miasto       Dzielnica  Cena za m2      M2  Pokoje  Pietro  Szerokosc    Dlugosc
0      329000  Gdańsk          Jasień       13708   24.00       1       0  54.333929  18.566962
1     1290000  Gdańsk         Siedlce        9485  136.00       6       0  54.354798  18.622895
2      490000   Sopot  Kamienny Potok       11666   42.00       2       2  54.453285  18.549294
4      590000  Gdańsk       Nowy Port        8993   65.60       2       1  54.399358  18.668024
5      399000  Gdańsk        Wrzeszcz       13159   30.32       1       2  54.386576  18.626749
...       ...     ...             ...         ...     ...     ...     ...        ...        ...
6065   469000  Gdańsk        Kokoszki        8869   52.88       3       5  54.357287  18.472770
6066  2395000  Gdynia          Orłowo       34964   68.50       3       0  54.480953  18.553072
6067   900000   Sopot     Dolny Sopot       12162   74.00       4       0  54.442660  18.562867
6068  1150000  Gdańsk        Olszynka        9583  120.00      13       3  54.327642  18.685990
6069  1200000  Gdynia       Mały Kack       12631   95.00       4       4  54.473117  18.517381

[5204 rows x 9 columns]

In [23]:
df.to_csv('DataToVisual.csv', index=False)